@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
}

html {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .switch::after {
  transform: translateX(15px);
  background: white;
}

.checkbox:checked ~ .switch {
  @apply bg-purple-500;
}

.switch {
  height: 25px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.switch::after {
  display: block;
  content: "";
  border-radius: 50%;
  margin: 5px;
  height: 15px;
  width: 15px;
  transform: translateX(0);
  transition: 0.3s;
  will-change: transform;
}

.grabbing * {
  cursor: grabbing;
}

.sortable-ghost {
  @apply bg-transparent dark:bg-transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23B5C9DB9C' stroke-width='4' stroke-dasharray='6%2c12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
}

.sortable-ghost:hover {
  @apply shadow-none;
}

.sortable-ghost * {
  opacity: 0;
}

.sortable-drag {
  @apply shadow-xl;
  opacity: 1 !important;
  transform: rotate(-13deg);
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-[#ffffffa9] dark:bg-[#282a43a9];
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background: #797f8f31;
  border-radius: 100px;
  background-clip: content-box;
}

.tippy-box[data-theme~="my-theme"] {
  @apply dark:bg-white bg-[#282A43] dark:text-black shadow-xl;
}

.tippy-box[data-theme~="my-theme"][data-placement^="bottom"]
  > .tippy-arrow::before {
  @apply dark:border-b-white border-b-[#282A43];
}

.tippy-box[data-theme~="my-theme"][data-placement^="top"]
  > .tippy-arrow::before {
  @apply dark:border-t-white border-t-[#282A43];
}

@layer components {
  .hover-scale-item {
    @apply hover:scale-110 hover:-translate-y-1 hover:shadow-xl;
    transition-property: transform, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }

  .card {
    @apply bg-white dark:bg-[#282A43] transition-shadow duration-500 hover:shadow-xl p-4 space-y-3 rounded-2xl cursor-pointer;
  }

  .card img {
    @apply select-none pointer-events-none;
  }
}
